<div style="width:100%">
  <mat-toolbar style="height:25px">
      <mat-icon *ngIf="canNavigateUp" class="pointer" (click)="navigateUp()">arrow_back</mat-icon>
      <span style="margin-left: 8px">{{path || 'Files'}}</span>
      <span class="spacer"></span>
  </mat-toolbar>
    

    <div class="container"  fxFlex fxLayout="row" fxLayoutAlign="space-between stretch">
      <div class="content" fxFlex fxLayout="row">
        <mat-grid-list cols=1  [rowHeight]="pictureHeight" (window:resize)="onBoxResize($event)" fxFlex>
          <mat-grid-tile *ngFor="let element of fileElements" (click)="navigate(element)"(dblclick)="open(element)" >
            <div style="width: 100%; display: flex; align-items: flex-start;">
              <mat-icon color="primary"  *ngIf="element.isFolder" [ngStyle]="{'font-size':pictureHeight+'px','height':pictureHeight+'px','width':pictureHeight+'px'}"  >folder</mat-icon>
              <video *ngIf="!element.isFolder" 
                  [src]='"api/multimedia/"+path+element.name' width="{{pictureHeight}}"   controls
                  >
                </video>
              {{element.name}} 
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
</div>
  
  
  
 
