:host {
    width:100vw;
    
    display: flex;
    flex-direction: column;
  }
  
  .file-or-folder {
    padding: 8px;
    overflow: hidden;
  }
  
  .container{
    overflow-x: auto;
    overflow-y:auto;
  }
  
  
  .pointer {
    cursor: pointer;
  }
  
  .spacer {
    flex: 1 1 auto;
  }

